<div class="col-xs-12 col-sm-8 col-background" id="main1" style="height: 180px;">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <h4>今日浏览量(PV)</h4>
      <h2>8000</h2>
      <h4>昨日浏览量(PV)</h4>
      <h2>8000</h2>
    </div>
    <div class="col-xs-12 col-sm-6">
      <h4>今日独立IP</h4>
      <h2>200</h2>
      <h4>昨日独立IP</h4>
      <h2>200</h2>
    </div>
  </div>
</div>
<div class="col-xs-12 col-sm-4 col-background" id="main2" style="height: 180px;">

</div>
<div class="col-xs-12 col-sm-12 col-background" id="PV" style="min-height: 270px;">

</div>
<div class="col-xs-12 col-sm-4 col-background" id="keyword" style="height: 270px;">

</div>
<div class="col-xs-12 col-sm-4 col-background" id="page" style="height: 270px;">

</div>
<div class="col-xs-12 col-sm-4 col-background" id="engine" style="height: 270px;">

</div>
<div class="col-xs-12 col-sm-4 col-background" id="links" style="height: 270px;">

</div>
<div class="col-xs-12 col-sm-4 col-background" id="source" style="height: 270px;">

</div>
<div class="col-xs-12 col-sm-4 col-background" id="map" style="height: 270px;">

</div>
<!-- 引入 ECharts 文件 -->
<script src="/static/js/echarts.min.js"></script>
<script type="text/javascript">
$(function(){
  window.onresize = function () {
    myChart2.resize();
    PV.resize(); //使第一个图表适应
    keyword.resize();
    page.resize();
    source.resize();
    engine.resize();
    links.resize();
    map.resize();
  }
});

var baseoption = {
  baseOption:{
    title:{
      text:""
    },
    tooltip:{
      trigger:"axis",
      axisPointer:{
        animation:false
      }
    },
    legend:{
      data:[]
    },
    grid:{
      left:"3%",
      right:"4%",
      bottom:"3%",
      containLabel:true
    },
    toolbox:{
      show:true,
      feature:{
        saveAsImage:{show:true}
      }
    },
    xAxis:{
      type:"category",
      data:[],
      boundaryGap:false,
      splitLine:{
        show:false
      }
    },
    yAxis:{
      type:"value"
    },
    series:[]
  },
  media:[{
    query:{
      maxWidth:500
    },
    option:{
      legend:{
        right:"4%",
        top:"15%",
        orient:"vertical"
      }
    },
    series:[{
      radius:[20, "50%"],
      center:["50%", "30%"]
    },{
      radius:[30, "30%"],
      center:["50%", "75%"]
    }]
  }]
}
// 基于准备好的dom，初始化echarts实例
var myChart2 = echarts.init(document.getElementById('main2'));
var PV = echarts.init(document.getElementById('PV'));
var keyword = echarts.init(document.getElementById('keyword'));
var page = echarts.init(document.getElementById('page'));
var source = echarts.init(document.getElementById('source'));
var engine = echarts.init(document.getElementById('engine'));
var links = echarts.init(document.getElementById('links'));
var map = echarts.init(document.getElementById('map'));

myChart2.setOption(baseoption);
PV.setOption(baseoption);
keyword.setOption(baseoption);
page.setOption(baseoption);
source.setOption(baseoption);
engine.setOption(baseoption);
links.setOption(baseoption);
map.setOption(baseoption);

function hourFormat(num) {
  var hour = Math.floor(num / 6);
  if (hour < 10){
    hour = "0"+hour;
  }
  var minute = num % 6 + "0";
  return hour+":"+minute;
}
var xdataHours = new Array();
var ydata = new Array();
var ydata1 = new Array();
for (var i =0; i <= 144; i++){
  xdataHours[i] = hourFormat(i);
  ydata[i] = Math.random(3)*i;
  ydata1[i] = Math.random(10)*i;
}

// 指定图表的配置项和数据
showLoading();
$.get('/admin/data/data.json').done(function (data) {
  hideLoading();
  PV.setOption({title:{text:"日点击趋势"},legend:{data:['今日PV','昨日PV']},xAxis:{data:xdataHours,axisLabel:{interval:5,rotate: 20,margin: 15}},series:[{name:'今日PV',type:'line',data:ydata},{name:'昨日PV',type:'line',data:ydata1}]});
  keyword.setOption({title:{text:"关键词TOP10"},xAxis:{data:xdataHours},series:[]});
  page.setOption({title:{text:"页面排行TOP5"},xAxis:{data:xdataHours},series:[]});
  engine.setOption({title:{text:"搜索引擎TOP5"},xAxis:{data:xdataHours},series:[]});
  links.setOption({title:{text:"外部链接TOP5"},xAxis:{data:xdataHours},series:[]});
  source.setOption({title:{text:"全部来源"},xAxis:{data:xdataHours},series:[]});
  map.setOption({title:{text:"访客地域"},xAxis:{data:xdataHours},series:[]});
});
function showLoading(){
  myChart2.showLoading();
  PV.showLoading();
  keyword.showLoading();
  page.showLoading();
  source.showLoading();
  engine.showLoading();
  links.showLoading();
  map.showLoading();
}

function hideLoading(){
  myChart2.hideLoading();
  PV.hideLoading();
  keyword.hideLoading();
  page.hideLoading();
  source.hideLoading();
  engine.hideLoading();
  links.hideLoading();
  map.hideLoading();
}
</script>