<div class="col-xs-12 col-sm-6">
                <article class="post tag-foreign-website tag-bootstrap-v3">
                    <h2 class="post-title">
                        <a href="/ramp/" onclick="_hmt.push(['_trackEvent', 'titlelink', 'click', 'Ramp'])" target="_blank">Ramp</a>
                    </h2>
                    <div class="post-featured-image">
                        <a class="thumbnail" href="/ramp/" onclick="_hmt.push(['_trackEvent', 'imagelink', 'click', 'Ramp'])" target="_blank">
                          <img src="http://image.youzhan.org/c/39/8cb66a6b83864b59f7f8e91bc98d3.png!thumb" width="700" height="438" alt="Ramp" onload="imgLoaded(this)">
                        </a>
                    </div>
                    <div class="post-content">
                        <p>
<a href="http://ramptshirts.com/">Ramp</a></p>
                    </div>
                </article>
            </div>
            <div class="col-xs-12 col-sm-6">
                <article class="post tag-foreign-website tag-bootstrap-v3">
                    <h2 class="post-title">
                        <a href="/ramp/" onclick="_hmt.push(['_trackEvent', 'titlelink', 'click', 'Ramp'])" target="_blank">Ramp</a>
                    </h2>
                    <div class="post-featured-image">
                        <a class="thumbnail" href="/ramp/" onclick="_hmt.push(['_trackEvent', 'imagelink', 'click', 'Ramp'])" target="_blank">
                          <img src="http://image.youzhan.org/c/39/8cb66a6b83864b59f7f8e91bc98d3.png!thumb" width="700" height="438" alt="Ramp" onload="imgLoaded(this)">
                        </a>
                    </div>
                    <div class="post-content">
                        <p>
<a href="http://ramptshirts.com/">Ramp</a></p>
                    </div>
                </article>
            </div>